<% layout("/layouts/boilerplate") %>
<style>
    #icons{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .icon{
        text-align: center;
        margin-right: 2.5rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .icon:hover{
        opacity: 1;
        cursor: pointer;
    }
    .icon p{
        font-size: 0.8rem;
    }
    .tax{
        display: none;
    }
    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }
</style>
<div id="icons">
    <div class="icon">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic cities</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Mountains</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing pools</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-chess-rook"></i></div>
    <p>Castles</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-landmark-dome"></i></div>
    <p>Domes</p>
    </div>
    <div class="icon">
    <div><i class="fa-solid fa-sailboat"></i></div>
    <p>Boats</p>
    </div>
    <div class="tax-toggle">
       <div class="form-check form-switch form-check-reverse">
  <input class="form-check-input" type="checkbox" id="switchCheckReverse">
  <label class="form-check-label" for="switchCheckReverse">Display total after taxes</label>
</div>
    </div>
</div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-2">
        <% for(let allList of allListings){ %>
            <div class="card col">
                <a href="/listings/<%= allList._id %>" class="listing-link">
                    <img src="<%= allList.image.url %>" style="height: 18rem" class="card-img-top" alt="listing image">
                    <div class="card-img-overlay "></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= allList.title %></b><br>
                            &#2547; <%= allList.price%> / Night
                            &nbsp; &nbsp; <i class="tax">+12% tax</i>
                        </p>
                    </div>
                </a>
            </div>
        <% }%>
    </div>
    
    <script>
        let texSwitch=document.getElementById("switchCheckReverse");
        texSwitch.addEventListener("click",()=>{
            let taxInfo=document.getElementsByClassName("tax");
            for(let info of taxInfo){
                if(info.style.display!="inline"){
                    info.style.display="inline";
                } else{
                    info.style.display="none";
                }
            }
        })
    </script>