<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <h2>Signup in wanderlust</h2>
       <form action="/signup" method="post" novalidate class="needs-validation">
         <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            username should be valid
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">email</label>
                        <input name="email" type="email" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            email should be valid
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control"
                            required>
                    </div>
                <button class="btn btn-success">signup</button>    
       </form>
    </div>
</div>